#bottom_panel {
    border-top: solid 1px black;
    opacity: 0.7;
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    background-color: #FFFFFF;
    box-shadow:0px 0px 10px #000000; 
    transition: height 500ms ease 3s, opacity 500ms ease 0s;
    overflow: hidden;
}

#bottom_panel:hover {
    transition: height 500ms ease 0s, opacity 500ms ease 0s;
    height: 30px;
    opacity: 0.85;
}
#roll_up {
    text-align: center;
    font-size: 10px;
    width: 100%;
    height: 10px;
    transition: height 500ms ease 3s, opacity 500ms ease 0s;
    overflow: hidden;
}
#roll_down {
    width: 100%;
}
#bottom_panel:hover #roll_up {
    transition: height 500ms ease 0s, opacity 500ms ease 0s;
    height: 0px;
}

.bottom_panel_item {
    padding-top: 5px;
    float: left;
    height: 25px;
    width: 20%;
    transition: all 500ms ease;
    text-align: center;
}

.bottom_panel_icon {
    width: 30px;
    display: inline-block;
}

.bottom_panel_detail {
    display: inline-block;
    width: 0px;
    transition: all 500ms ease 0s;
    overflow: hidden;
}
#bottom_panel:hover .bottom_panel_item {
    width: 18%;
}
#bottom_panel:hover .bottom_panel_item:hover {
    width: 28%;
}
.bottom_panel_item:hover .bottom_panel_detail.wide {
    width: 95px;
}
.bottom_panel_item:hover .bottom_panel_detail.narrow {
    width: 65px;
}


