#bottom_panel {
    z-index: 10;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10px;
    transition: height 500ms ease 3s;
}

#bottom_panel:hover {
    transition: height 500ms ease 0s;
    height: 40px;
}
#roll_up {
    text-align: center;
    font-size: 10px;
    width: 100%;
    height: 10px;
    transition: height 500ms ease 3s;
    overflow: hidden;
}
#roll_down {
    width: 100%;
}
#bottom_panel:hover #roll_up {
    transition: height 500ms ease 0s;
    height: 0px;
}

.bottom_panel_item {
    padding: 5px 10px;
    float: left;
    height: 35px;
    transition: all 500ms ease;
    text-align: center;
}

.bottom_panel_icon {
    float: left;
    width: 30px;
    height: 30px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 500ms ease 0s;
    overflow: hidden;
}

.bottom_panel_detail {
    padding-top: 7px;
    padding-left: 10px;
    float: left;
    width: 0px;
    transition: all 500ms ease 0s;
    overflow: hidden;
}
.bottom_panel_item:hover .bottom_panel_detail.wide {
    width: 105px;
}
.bottom_panel_item:hover .bottom_panel_detail.narrow {
    width: 75px;
}
.right_align {
    float: right;
}

#bottom_gain > .bottom_panel_icon {
    background-image: url("/webchat/images/microphone.png");
}
#bottom_gain:hover > .bottom_panel_icon {
    background-image: url("/webchat/images/microphone_hover.png");
}

#bottom_volume > .bottom_panel_icon {
    background-image: url("/webchat/images/volume.png");
}
#bottom_volume:hover > .bottom_panel_icon {
    background-image: url("/webchat/images/volume_hover.png");
}

#bottom_lock > .bottom_panel_icon {
    background-image: url("/webchat/images/lock.png");
}
#bottom_lock:hover > .bottom_panel_icon {
    background-image: url("/webchat/images/lock_hover.png");
}

#bottom_cut > .bottom_panel_icon {
    background-image: url("/webchat/images/cut.png");
}
#bottom_cut:hover > .bottom_panel_icon {
    background-image: url("/webchat/images/cut_hover.png");
}
#fullscreen > .bottom_panel_icon {
    background-image: url("/webchat/images/fullscreen.png");
}
#fullscreen:hover > .bottom_panel_icon {
    background-image: url("/webchat/images/fullscreen_hover.png");
    cursor: pointer;
}
.bottom_panel_item .hint {
    font-size: 11px;
    position: absolute;
    border: solid 1px white;
    top: -30px;
    visibility: hidden;
    padding: 3px;
    background-color: gray;
}
#fullscreen:hover .hint {
    right: 5px;
}
.bottom_panel_item:hover .hint {
    visibility: visible;
}
