#control_panel {
    position: absolute;
    top: 5px;
    left: 20px;
    opacity: 0.6;
    transition: all 700ms ease;
    box-shadow:0px 0px 10px #000000; 
}

#control_panel:hover {
    opacity: 0.9;
}

#control_panel input {
    margin: 0px;
    border-width: 1px;
    border-color: #222222;
    border-style: solid;
    width: 150px;
}

#control_panel input, .rollout_item {
    padding-left: 10px;
    padding-right: 10px;
}

#rollout_menu {
    display: none;
    overflow: hidden;
}

.rollout_item {
    padding-top: 5px;
    width: 200px;
    border-top-style: solid;
    border-width: 1px;
    border-color: #666666;
    background-color: #ffffff;
    opacity: 0.6;
    height: 18px;
    transition: all 500ms ease;
    font-size: 12px;
}

.rollout_item .description {
    padding-top: 4px;
    font-size: 11px;
}

.active_rollout_item {
    transition: all 500ms ease;
    opacity: 0.99;
    height: 45px;
}

