#control_panel {
    position: absolute;
    top: 5px;
    left: 20px;
    transition: all 700ms ease;
    z-index: 10;
}

#control_panel input {
    margin: 0px;
    width: 150px;
    transition: all 700ms ease;
}
#control_panel:hover {
    z-index: 11;
}
#control_panel:hover input {
    width: 200px;
}
#control_panel input {
    border-radius: 3px;
}
#control_panel input, .rollout_item {
    padding-left: 10px;
    padding-right: 10px;
}

#rollout_menu {
    display: none;
    overflow: hidden;
    z-index: 10;
    border-radius: 3px;
}
#rollout_menu:hover {
    cursor:pointer;
}

.rollout_item {
    padding-top: 5px;
    width: 200px;
    height: 18px;
    transition: all 500ms ease;
    font-size: 13px;
    overflow: hidden;
}

.rollout_item .description {
    padding-top: 4px;
    font-size: 11px;
}

.active_rollout_item {
    height: 45px;
}

table {
    margin-top: 20px;
}
