html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #222222;
}

#screen {
    height: 99%;
    width: 99%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#main_video {
    height: 95%;
    width: 95%;
    text-align: center;
}

#video_buff {
    top: 5px;
    right: 5px;
    position: absolute;
}
.big_video {
    width: 100%;
    height: 100%;
}

.small_video_frame, .small_video {
    width: 160px;
}

.small_video_frame {
    position: relative;
}

.label {
    position: absolute;
    border-radius: 5px;
    padding: 2px;
    bottom: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.6;
    z-index: 1;
    margin: 0px;
    padding: 2px;
    outline: 0px;
    border: none;
    font: inherit;
    font-family: monospace;
    overflow: hidden;
    width: auto;
    max-width: 140px;
    transition: all 700ms ease;
}

#myself .label:hover {
    opacity: 0.9;
}

.small_video {
    margin: 0px;
    padding: 0px:
    height: 120px;
    z-index: 0;
    border: solid;
    border-width: 1px;
    border-color: black;
}

#settings_window, #message_window {
    z-index: 10;
}

#settings_window .content {
    width: 450px;
    height: 450px;
}
#settings_window {
    position: absolute;
    top: 50px;
    left: 50px;
    opacity: 0.9;
    transition: all 400ms ease;
    box-shadow:0px 0px 10px #000000; 
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    background-color: white;
    visibility: hidden;
    overflow: hidden;
}

#message_window {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -140px;
    width: 240px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 20px;
    overflow: hidden;
    opacity: 0.9;
    transition: all 400ms ease;
    box-shadow:0px 0px 10px #000000; 
    background-color: white;
}

#message_window .description {
}

#message_widnow .button {
}
