html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#screen {
    height: 99%;
    width: 99%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#main_video {
    height: 95%;
    width: 95%;
    text-align: center;
}

#video_buff {
    top: 5px;
    right: 5px;
    position: absolute;
}
#control_panel {
    position: absolute;
    top: 5px;
    left: 5px;
    opacity: 0.6;
}

.icon {
    float: left;
    width: 15px;
    height: 15px;
}

#control_panel input {
}

.big_video {
    width: 100%;
    height: 100%;
}

.small_video_frame, .small_video {
    width: 160px;
}

.small_video_frame {
    position: relative;
}

.label {
    position: absolute;
    border-radius: 5px;
    padding: 2px;
    bottom: 5px;
    right: 5px;
    background-color: white;
    opacity: 0.6;
    z-index: 1;
    margin: 0px;
    padding: 2px;
    outline: 0px;
    border: none;
    font: inherit;
    font-family: monospace;
    overflow: hidden;
    /*white-space: nowrap;*/
    width: auto;
    max-width: 140px;
}

.small_video {
    margin: 0px;
    padding: 0px:
    height: 120px;
    z-index: 0;
    border: solid;
    border-width: 1px;
    border-color: black;
}
