#settings_window, #message_window, #ask_key_window, .dialog_window {
    z-index: 10;
    text-align: center;
    position: absolute;
    overflow: hidden;
    border-radius: 3px;
    font-size: 13px;
}
#message_window, #ask_key_window, .dialog_window {
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -140px;
    width: 280px;
}
#settings_window {
    top: 10%;
    left: 15%;
    visibility: hidden;
}

.description {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#settings_window .content {
    width: 300px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
}

.button {
    border-radius: 5px;
    padding: 2px;
    margin: 3px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    left: 50%;
    display: inline-block; /*not expand width*/
    transition: background-color 500ms ease;
}

.button:hover {
    cursor:pointer;
}

#title {
    font-size: 18px;
    border-bottom: dotted 1px;
    padding:7px;
    margin-bottom:13px;
}

.select_set, .switch {
    height: 25px;
    width: 150px;
    margin:5px;
    border-style: solid 1px;
    border-radius: 3px;
    overflow: hidden;
}

.slider {
    cursor: pointer;
    border-radius: 5px;
    width: 90px;
    height: 15px;
    overflow: hidden;
}
.slider .control {
    height: 15px;
}

.toggler {
    cursor: pointer;
    border-radius: 5px;
    width: 60px;
    height: 15px;
    overflow: hidden;
}

.toggler_left, .toggler_right {
    text-align: center;
    font-size: 8pt;
    height: 100%;
    float: left;
    overflow: hidden;
    transition: width 500ms ease;
    width: 0px;
}
.toggler_left {
    margin-right: 15px;
}
.toggler_on {
    width: 45px;
}
#audio_video_settings td {
    padding-right: 10px;
}
